<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/volunteer" method="get">
        <p> </p>
        <h4>Volunteer Information</h4>
        <p> </p>
        <button type="submit" class="btn btn-success">Volunteers</button>
        <p> </p>
      </form>
    </div>
    <div class="col-md-6">
      <form action="/project" method="get">
        <p> </p>
        <h4>Project Information</h4>
        <p> </p>
        <button type="submit" class="btn btn-success">Project</button>
        <p> </p>
      </form>
    </div>
  </div>
  <div class="row">

  </div>
</div>
