<div class="container">
  <div class="row">
    <p> </p>
    <h4>Let's look at or modify Project information</h4>
    <p> </p>
    <form action="/project" method="post">
      <div class="form-inline">
        <label for="train_name">Project Name</label>
        <input id="train_name" name="train_name" class="form-control" type="text">
        <p>&nbsp;</p>
      </div>
      <button type="submit" class="btn btn-success">submit</button>
      <p>&nbsp;</p>
      </form>
        <p> </p>
        <form class="form-inline" method="get" action="/">
          <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
        </form>
        <p>&nbsp;</p>


  </div>
